* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background: url(./space.jpg);
    height: 3000px;
}

/* SUN */
.sun {
    display: flex;
    background-repeat: no-repeat;
    position: absolute;
    transform: translate(65vh, 50vh);
    /* transition: 2s; */
}

.sun .sun_pic {
    height: 90vh;
    width: 90vh;
    border-radius: 50%;
}

.sun.animate .sun_pic {
    transition: 5s;
    transform: translate(-85vh, 80vh) scale(1.1);
}

/* PLANET */
.wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 90vh;
    left: 100vh;
    top: 130vh;
    border: 1px solid gray;
    opacity: 0;
    transition: 1s;
}

.wrapper.on {
    opacity: 1;
}
 
.wrapper .card {
    width: 430px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9vh;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    animation: animate 20s linear infinite;
    animation-delay: calc(4s * var(--delay));
}

.wrapper .card:last-child {
    animation-delay: calc(-4s * var(--delay));
}

/* 지정된 공간에 hover 하면 애니메이션 멈추기 */
.wrapper:hover .card {
    animation-play-state: paused;
}

.card .content {
    display: flex;
    align-items: center;
}

/* HTML 말고 css로 background image 를 줘야 애니메이션 먹음 */
.wrapper .card .img {
    height: 20vh;
    width: 20vh;
    position: absolute;
    box-shadow: 0px 0px 5px;
    border-radius: 50%;
    transition: 0.5s;
    background-repeat: repeat;
    background-image: url(./planet1.png);
}

/* 이미지 hover 했을 때 자전하는 것처럼 표현 */
.wrapper .card .img:hover {
    animation: rotate 15s linear infinite;
}   

/* EXPLORE 버튼 */
.card>a {
    text-decoration: none;
    padding: 7px 18px;
    border-radius: 25px;
    background: linear-gradient(to bottom, #bea2e7 0%, #86b7e7 100%);
    color: #fff;
    transition: 0.5s;
}

.card>a:hover {
    color: #d4c6e8;
}

/* 우주선 이모티콘 */
.spaceship i {
    position: absolute;
    font-size: 40px;
    color: white;
    top: 200vh;
    left: -8vh;
    z-index: 1;
    animation: spaceship 10s linear infinite;
}

/* 점프하는 사람 이모티콘 */
.jp i {
    font-size: 30px;
    color: red;
    position: absolute;
    top: 161vh;
    left: 132vh;
    z-index: 1;
    animation: jump 4s linear infinite;
}

/* 슬라이드 애니메이션 */
@keyframes animate {
    0% {
        opacity: 0;
        transform: translateY(100%) scale(0.5);
    }
    5%, 20% {
        opacity: 0.4;
        transform: translateY(100%) scale(0.7);
    }
    25%, 40% {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0%) scale(1);
    }
    45%, 60% {
        opacity: 0.4;
        transform: translateY(-100%) scale(0.7);
    }
    65%,100% {
        opacity: 0;
        transform: translateY(-100%) scale(0.5);
    }
    
}

/* 행성 자전하는 애니메이션 */
@keyframes rotate {
    to{ 
        background-position: -200%, 0;
    } 
    
}

/* 점프하는 애니메이션 */
@keyframes jump {
    0% {
        transform: translate(0,0);
    }

    50% {
        transform: translate(0, -3vh);
    }

    100% {
        transform: translateY(-1vh);
    }
    
}

/* 우주선 애니메이션 */
@keyframes spaceship {
    0% {
        transform: translate(0,0) rotate(0deg);
    }

    25% {
        transform: translate(70vh, -70vh) rotate(-270deg);
    }

    50%{
        transform: translate(40vh,-40vh);
        z-index: 0;
    } 

    75% {
        transform: translate(20vh,-20vh) rotate(-120deg);
        z-index: 0;

    }

    100% {
        transform: translate(0,0) rotate(0deg);
    } 
}


